# Virtual environment folders
.venv/
venv/
env/
.venv-1/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing
.pytest_cache/
.coverage
.coverage.*

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE/editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Streamlit local config
.streamlit/
